#heade
{height:340px;
width:100%;
border:1px ;
margin:auto;
}

#menu
{height:50px;
width:100%;
border:1px solid;
margin:auto;
}
#content
{height:900px;
width:100%;
border:1px solid;
margin:auto;
border-top:none;
background-color:#373737;
background-size:100%;
border-top-left-radius:20px;
border-top-right-radius:20px;
color:#CCCCCC;
}
#top
{height:270px;
width:100%;
border:2px double;
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
margin:auto;
background-image:url(../pics/blur1.jpg);
background-size:100%;

}
#top fieldset
{float:none;
	background-image:url(../pics/blur2.jpg);}

#footer
{height:50px;
width:100%;
border:1px solid;
margin:auto;
background-color:#001;

}
#footer p
{
	color:#FFFFFF;
	font-size:20px;}
#footer marquee
{border:1px;
width:800px;
}
#top_con{
height:200px;
width:200px;
border:1px;
margin:auto;
}
#bot_con
{height:590px;
width:960px;
border:1px solid #666;
border-radius:5px;
margin:auto;
border-left:none;
border-right:none;
border-bottom:none;
alignment-adjust:central;
}
#logo{margin:auto;
float:right;
border-radius:100%;}
#logo:hover
{
	border:2px;
	transition:all 1s;
	transform:rotate(360deg);
	
}
#dp{
border-radius:100%;
margin-left:5px;
margin-top:20px;
border:solid 1px #666666;
box-shadow:10px 10px 100px #999;
	}
#dp:hover
	{height:250px;
	width:250px;
	transition:all 1s;
		margin:auto;	}
#homedish,#hd2
{
margin-left:20px;
margin-top:60px;
border:solid 1px #666666;
box-shadow:10px 10px 100px #999;
}
#what{width:500px;
height:500px;
color:#ccc;
float:left;
margin-left:120px;
font-size:18px;
font-weight:400}
#what h2
{color:#000;
	background-image:url(../pics/h.png);
	background-size:100%;
	border-radius:10%;
	}
#what li
{
	font-weight:200;
}
#homed{
	width:200px;
	height:500px;
	margin:auto;
	float:left;}

#left
{height:900px;
width:300px;
border:1px solid;
border-bottom: 1px none ;
float:left;
background-color:#373737;}
#center
{height:900px;
width:60%;
border:1px solid;
border-bottom: 1px none ;
float:left;
}
#right
{height:902px;
width:250px;
border-bottom: 1px none ;
float:left;
}

table {
	border-collapse:seperate;
	border:none;
	 
border-spacing:.3em;
}
input[type=radio] {
	height:30px;
	width:70px;
	color:#000;
}
input[type=checkbox] {
	height:30px;
	width:50px;
	color:#000;
}

input[type=text] {
	height:30px;
	width:200px;
	font-size:20px;
	color:#000;
}
input[type=password] {
	height:30px;
	width:200px;
	border-radius:7px;
	font-size:20px;
	color:#000;
}
input[type=submit] {
	height:30px;
	width:150px;
	font-size:14px;
	color:#000;
	cursor:pointer;
	margin-left:15px;
	margin-top:5px;
	
	background-size:100%;
}
select
{
	height:30px;
	width:200px;
	
}

#regbtn
{
	background:#000;
margin-left:150px
}
#reg
{
float:none;
margin-right:auto;	
margin:auto;
background:#000;
opacity:0.9;	
filter: alpha(opacity=90)
}
#icon
{	float:right;
	margin:auto;
	padding-left:5px;}
	div.item2 {
float:right;   
    vertical-align:bottom;
    display: inline-block;
    text-align: center;
    }

.caption {
    display: block;
	font-weight:500;
}
fieldset { 
width:700px;
float:right;
margin-right:20px;
border:2px solid #333;
border-bottom-left-radius:30px;
border-bottom-right-radius:30px;
  }
  #up { 
  height:700px;
width:200px;
float:none;
margin-top:40px;
margin-left:18px;
border:2px;
background-color:#000000;
border-radius:30px;
background-size:100%;
opacity: 0.9;
filter: alpha(opacity=90); 
 }
 #rec
 {height:auto;
width:900px;
float:none;
margin-top:40px;
margin-left:18px;
border:2px;
background-color:#000000;
border-radius:30px;
background-size:100%;
opacity: 0.9;
filter: alpha(opacity=90); 
	 }

legend {
  
   text-align:right;
  font-size:26px;
  font-weight:bold;
  }
  figcaption { 
    display: block;
	text-align:center;
} 
#gcontent
{height:auto;
width:100%;
border:1px solid;
margin:auto;
border-top:none;
background-image:url(../pics/back2.jpg);
background-size:100%;
border-top-left-radius:20px;
border-top-right-radius:20px;
color:#CCCCCC;
}
#arec
{text-decoration:none;
display:block;
font-size:24x;
color:#FCC;
	}
#arec:hover,div.item2:hover
{color:#000;
background:#F93;
border-radius:20px;
font-size:20px;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1{
text-align:center;}
#left ul
{margin-left:0px;
padding:0px;
}
#up ul
{margin-left:0px;
padding:0px;
}
marquee
{	height:600px;}
#up ul li
{list-style:none;
border:1px #930;
width:200px;
height:150px;
text-align:center;
font-size:20px;
line-height:50px;
color:#CCC;
}

#up ul li a
{text-decoration:none;
display:block;
color:#CCCCCC;
}

#up ul li a:hover
{color:#000;
background:#F93;
border-radius:20px;
font-size:20px;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#all
{
	margin-left:35px;
	}
#left ul li
{list-style:none;
border:1px #930;
width:300px;
height:70px;
text-align:center;
font-size:24px;
line-height:50px;
color:#CCC;
}

#left ul li a
{text-decoration:none;
display:block;
color:#CCCCCC;
}
#left ul li a:hover
{color:#000;
background:#F90;
font-size:24px;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#imgc{
	float:right;
	margin-left:50px;
border:solid 1px #666666;
box-shadow:10px 10px 100px #999;}